openapi: '3.0.0'
info:
  version: 1.0.0
  title: Alchemetryx Consulting API
  license:
    name: MIT
servers:
  - url: http://api.alchemetryx.com/v1
paths:
  /workflows:
    get:
      summary: List all workflows
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of workflows
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create workflow
      operationId: createWorkflow
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workflows/{workflowId}:
    get:
      summary: Get workflow details
      operationId: getWorkflowById
      parameters:
        - name: workflowId
          in: path
          required: true
          description: The id of the workflow to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response for a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports:
    get:
      summary: List all reports
      operationId: listReports
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of reports
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Workflow:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
    Workflows:
      type: array
      items:
        $ref: '#/components/schemas/Workflow'
    Report:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        period:
          type: string
    Reports:
      type: array
      items:
        $ref: '#/components/schemas/Report'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string